{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2020",
    "paths": {
      "@infra/*": ["./src/infra/*"],
      "@application/*": ["./src/application/*"],
      "@domain/*": ["./src/domain/*"]
    },
    "baseUrl": "."
  },
  "module": {
    "type": "commonjs"
  }
}
